<div class="box homepage-box has-background-grey-lighter">
    <h2 class="title is-size-5">Homepage</h2>
    {{#if movies.length}}
    <div class="homepage-cont">
        <ul class="result-list">
        {{#each movies as |movie|}}
            <li class="movie-list-item">
                <img class="movie-img" id="${movie.id}-img" src="{{movie.image}}">
                <div class="movie-info">
                    <p id="{{movie.id}}-title" class="title is-size-6 movie-title has-text-weight-semibold">
                    {{movie.title}}
                    </p>
                    <p><strong>Watchlist Additions:</strong> {{movie.watchlist_count}}</p>
                    <button value="{{movie.imdb_id}}" class="button is-small movie-button" onclick="viewMovie(event)">
                    More Info
                    </button>
                    <a href="/reviews/{{movie.id}}">{{ review_count }} {{format_plural_reviews 'Review' review_count }}</a>
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
    {{else}}
    <p>No movies yet. Search for movies <a href="/search">Here</a></p>
    {{/if}}
</div>