<div class="box homepage-box">
    <h2 class="title is-size-5">Homepage</h2>
    {{#if movies.length}}
    <div class="result-cont">
        <ul class="result-list">
        {{#each movies as |movie|}}
            <li class="movie-list-item">
                <img class="movie-img" id="${movie.id}-img" src="{{movie.image}}">
                <div class="movie-info">
                    <p id="{{movie.id}}-title" class="title is-size-6 movie-title">
                    {{movie.title}}
                    </p>
                    <p><strong>Watchlist Additions:</strong> {{movie.watchlist_count}}</p>
                    <button value="{{movie.imdb_id}}" class="button is-small movie-button" onclick="viewMovie(event)">
                    View Movie
                    </button>
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
    {{else}}
    <p>No movies yet. Search for movies <a href="/search">Here</a></p>
    {{/if}}
</div>