<div class="box watchlist-box has-background-grey-lighter">
    <div class="watchlist-header">
        <h2 class="title is-size-5">{{data.username}}'s Watchlist</h2>
    </div>
    {{#if data.watchlisted_movies.length}}
    <div class="watchlist-cont">
        <ul class="result-list">
        {{#each data.watchlisted_movies as |movie|}}
            <li class="movie-list-item">
                <img class="movie-img" id="${movie.id}-img" src="{{movie.image}}">
                <div class="movie-info">
                    <p id="{{movie.id}}-title" class="title is-size-6 movie-title">
                    {{movie.title}}
                    </p>
                     <button value="{{movie.imdb_id}}" class="button is-small movie-button" onclick="viewMovie(event)">
                    More Info
                    </button>
                    <button value="{{movie.id}}" class="button is-small is-danger is-outlined movie-button is-rounded" onclick="deleteFromWatchlist(event)">
                    Delete from Watchlist
                    </button>
                    <a href="/reviews{{movie.id}}">Reviews</a>
                </div>
            </li>
        {{/each}}
    </ul>
    </div>
    {{else}}
    <p>No movies yet. Search for movies <a href="/search">Here</a></p>
    {{/if}}

</div>
<script src="/javascript/watchlist.js"></script>